<footer class="footer post-footer">
    <p>
        <a href="<%- theme.github.edit %><%- page.source %>" target="_self"><i class="fas fa-code"></i> 编辑</a>｜
        <a href="<%- theme.github.history %><%- page.source %>" target="_self"><i class="fas fa-history"></i> 历史</a>｜
        <span>最后更新时间：<span><%- date(page.updated) %></span></span>
    </p>
</footer>