<head>
  <meta charset="utf-8">
  <%- css('css/index') %>
  <%- css('css/highlight/styles/atom-one-light') %>
  <%- css('css/fontawesome/all.min')%>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <title><%= config.title %></title>
</head>


<!--config 在根目录下 _config.yml 中配置-->

